* {
    font-family: Helvetica,Georgia, Cambria, "Times New Roman", Times, serif !important
}

main{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}

h1 {
    color: white;
    text-align: center;
    font-size: 36px;
}

#header {
    display: flex;
    background: linear-gradient(0.75turn, #210C4F, #3462BB);
    height: 15vh;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}

aside {
    padding: 5px;
    width: 35%;
    height: auto;
    margin-right: 20px;
}

#asideLine {
    border: 1px solid grey;
}

#resultsContainer {
    width: 65%;

}

#titleIcon {
    display: inline;
}

#currentWeather {
    border: 1px solid black;
    padding: 5px;
    min-height: 33vh;
}

#fiveDayContainer {
    margin-top: 15px;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;
}

.card-header {
    font-size: larger;
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.card-icon {
    height: 75px;
    width: 85px;
}

.forecast-card {
    flex: 1 1 200px;
    flex-grow: 0;
}

input {
    width: 100%;
}

button {
    margin-top: 20px !important;
    width: 100%
}

.search-history{
    width: auto;
    margin-left: 10px;
}

#clearHistory {
    color: white;
}
